/* Navbar.jsx  */

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: orange !important;
}

.active {
    color: red !important;
}

.navbar {
    box-shadow: 0 0 2px 0;
}


.ams-btn,
.lms-btn,
.timesheet-btn {
    height: 84px;
    width: 229px;
    font-size: xx-large !important;
    border-radius: 11px !important;
}


@media only screen and (max-width:653px) and (min-width:280px) {}