/* Navbar.jsx  */

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: green !important;
}

.active {
    color: orangered !important;
}

.navbar {
    box-shadow: 0 0 2px 0;
}


.ams-btn,
.lms-btn {
    height: 78px;
    width: 185px;
    font-size: xx-large !important;
    border-radius: 11px !important;
}



/* @media only screen and (max-width:653px) and (min-width:280px){
    .navbar-brand{
        font-size: small !important;
    }
} */